<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h5>Hola Index</h5>
    <p th:text="${mensaje}"></p>
    <p th:text="${saludo}"></p>
    </br>
        <div th:if="${personas !=null and !personas.empty}">
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email ss</th>
                <th>Telefono xxx</th>
            </tr>

            <tr th:each="persona: ${personas}">
                <td th:text="${persona.nombre}">Mostrar</td>
                <td th:text="${persona.apellido}">Mostrar</td>
                <td th:text="${persona.email}">Mostrar</td>
                <td th:text="${persona.telefono}">Mostrar</td>
           </tr>
    </table>
    </div>
    <div th:if="${personas == null or personas.empty}">
        La lista de personas está vacía!
    </div>

</body>
</html>